node_modules/
package-lock.json
resize.py
# Gradle
.gradle/
build/
*/build/
local.properties
*.apk
*.aab

# Capacitor
android/.idea
android/app/release
node_modules/
.DS_Store
# Ignore everything Android/Gradle
android/
.gradle/
build/
*.apk
*.aab
local.properties

# Ignore node_modules
node_modules/

# Keep only web files
!www/
!index.html
!assets/
!js/
!css/